extends ../layout_braintree

block content
  .wrapper: .checkout.container: .content

    h1 #[strong Checkout Book]
    hr
    p #[strong Title:] #{book.title}
    p #[strong Author:] #{book.author.name}
    p #[strong ISBN:] #{book.isbn}
    p #[strong Price:] $#{book.price}
    hr
    h4 #[strong Pay with Braintree using PayPal or credit card]

    hr

    - var payamount = book.price
    - var customer_firstName = "John"
    - var customer_lastName = "Doe"
    - var customer_email = "John.Doe@test.com"
    form#payment-form(action="/catalog/checkouts", method="post")
      section
        label(for="amount")
          span.input-label Amount
          .input-wrapper.amount-wrapper
            input#amount(name="amount" type="tel" min="1" value=payamount readonly="true")

        label(for="firstName")
          span.input-label First Name
          .input-wrapper
            input#firstName(name="firstName" value=customer_firstName)
        label(for="email")
          span.input-label Last Name
          .input-wrapper
            input#lastName(name="lastName" value=customer_lastName)
        label(for="email")
          span.input-label Email
          .input-wrapper
            input#email(name="email" value=customer_email)

        hr

        hr
        .bt-drop-in-wrapper
          #bt-dropin
      input#nonce(type="hidden" name="payment_method_nonce")
      button.button(type="submit")
        span Place Order

  script(src="https://js.braintreegateway.com/web/dropin/1.10.0/js/dropin.min.js")
  script.
    var form = document.querySelector('#payment-form');
    var token = '#{clientToken}';

    braintree.dropin.create({
      authorization: token,
      container: '#bt-dropin',
      paypal: {
        flow: 'vault'
      }
    }, function (createErr, instance) {
      form.addEventListener('submit', function (event) {
        event.preventDefault();

        instance.requestPaymentMethod(function (err, payload) {
          if (err) {
            console.log('Error', err);
            return;
          }

          // Add the nonce to the form and submit
          document.querySelector('#nonce').value = payload.nonce;
          form.submit();
        });
      });
    });
